@property --gradTrans {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

.historyItem {
  background-color: var(--surface-defaults-secondary);

  &:hover {
    background-color: var(--surface-defaults-tertiary);
    & .historyItem__menuBtn {
      background-color: var(--surface-defaults-tertiary);
    }
    & .paragraph::before {
      --gradTrans: var(--surface-defaults-tertiary);
    }
  }

  &:has(.historyItem__menuBtn:hover) {
    background-color: var(--surface-defaults-secondary);
    & .paragraph::before {
      --gradTrans: var(--surface-defaults-secondary);
    }
  }

  &.size-sm svg {
    height: var(--size-rem-xl);
    width: var(--size-rem-xl);
    margin-block: -1px;
  }

  & .paragraph {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    &::before {
      --gradTrans: var(--surface-defaults-secondary);
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 100%;
      transition: --gradTrans 0.2s ease;
      background-image: linear-gradient(
        to right,
        transparent,
        var(--gradTrans)
      );
      pointer-events: none;
    }
  }

  .historyItem__menuBtn {
    border-radius: var(--size-px-xs);
    background-color: var(--surface-defaults-secondary);
    &:hover {
      background-color: var(--surface-defaults-tertiary);
    }
  }
}
