:root {
  /* Spacing Tokens */
  --spacing-none: 0px;
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xlg: 40px;
  --spacing-xxlg: 48px;
  --spacing-huge: 56px;
  --spacing-xhuge: 64px;
  --spacing-xxhuge: 72px;
  --spacing-xxxhuge: 80px;

  /* Border Radius */
  --radius-none: 0px;
  --radius-xxs: 4px;
  --radius-xs: 8px;
  --radius-sm: 16px;
  --radius-md: 24px;
  --radius-lg: 32px;
  --radius-xlg: 40px;
  --radius-xxlg: 48px;
  --radius-huge: 56px;
  --radius-xhuge: 64px;
  --radius-xxhuge: 72px;
  --radius-full: 999px;

  /* Size */
  --size-px-xxs: 4px;
  --size-px-xs: 8px;
  --size-px-sm: 12px;
  --size-px-md: 16px;
  --size-px-lg: 24px;
  --size-px-xl: 32px;
  --size-px-xxl: 40px;
  --size-px-xxxl: 48px;
  --size-px-huge: 56px;
  --size-px-xhuge: 64px;
  --size-px-xxhuge: 72px;
  --size-px-xxxhuge: 80px;

  --size-rem-xxxs: 0.5rem;
  --size-rem-xxs: 0.625rem;
  --size-rem-xs: 0.75rem;
  --size-rem-sm: 0.875rem;
  --size-rem-md: 1rem;
  --size-rem-lg: 1.125rem;
  --size-rem-xl: 1.25rem;
  --size-rem-xxl: 1.5rem;
  --size-rem-xxxl: 1.75rem;
  --size-rem-huge: 2rem;
  --size-rem-xhuge: 2.25rem;
  --size-rem-xxhuge: 2.5rem;
  --size-rem-xxxhuge: 2.75rem;
  --size-rem-mega: 3.25rem;

  /* Colors */
  --color-gradPurple: rgba(166, 72, 246, 0.15);
  --color-gradPink: rgba(228, 63, 154, 0.1);

  /* Base Colors */
  --color-base-white: #ffffff;
  --color-base-black: #000000;

  /* Base Black Opacity */
  --color-base-black-opacity-0: #00000000;
  --color-base-black-opacity-2: #00000005;
  --color-base-black-opacity-4: #0000000a;
  --color-base-black-opacity-8: #00000014;
  --color-base-black-opacity-16: #00000029;
  --color-base-black-opacity-24: #0000003d;
  --color-base-black-opacity-32: #00000052;
  --color-base-black-opacity-44: #00000070;
  --color-base-black-opacity-56: #0000008f;
  --color-base-black-opacity-68: #000000ad;
  --color-base-black-opacity-76: #000000c2;
  --color-base-black-opacity-84: #000000d6;
  --color-base-black-opacity-92: #000000eb;
  --color-base-black-opacity-98: #000000fa;

  /* Base White Opacity */
  --color-base-white-opacity-0: #ffffff00;
  --color-base-white-opacity-2: #ffffff05;
  --color-base-white-opacity-4: #ffffff0a;
  --color-base-white-opacity-8: #ffffff14;
  --color-base-white-opacity-16: #ffffff29;
  --color-base-white-opacity-24: #ffffff3d;
  --color-base-white-opacity-44: #ffffff70;
  --color-base-white-opacity-56: #ffffff8f;
  --color-base-white-opacity-68: #ffffffad;
  --color-base-white-opacity-76: #ffffffc2;
  --color-base-white-opacity-84: #ffffffd6;
  --color-base-white-opacity-92: #ffffffeb;
  --color-base-white-opacity-98: #fffffffa;

  /* Neutral Colors */
  --color-neutral-25: #fcfcfd;
  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f2f4f7;
  --color-neutral-200: #e4e7ec;
  --color-neutral-300: #d0d5dd;
  --color-neutral-400: #98a2b3;
  --color-neutral-500: #667085;
  --color-neutral-600: #475467;
  --color-neutral-700: #344054;
  --color-neutral-800: #1d2939;
  --color-neutral-900: #101828;

  /* Purple Colors */
  --color-purple-25: #fafaff;
  --color-purple-50: #f4f3ff;
  --color-purple-100: #ebe9fe;
  --color-purple-200: #d9d6fe;
  --color-purple-300: #bdb4fe;
  --color-purple-400: #9b8afb;
  --color-purple-500: #7a5af8;
  --color-purple-600: #6938ef;
  --color-purple-700: #5925dc;
  --color-purple-800: #4a1fb8;
  --color-purple-900: #3e1c96;

  /* Blue Colors */
  --color-blue-25: #f5faff;
  --color-blue-50: #eff8ff;
  --color-blue-100: #d1e9ff;
  --color-blue-200: #b2ddff;
  --color-blue-300: #84caff;
  --color-blue-400: #53b1fd;
  --color-blue-500: #2e90fa;
  --color-blue-600: #1570ef;
  --color-blue-700: #175cd3;
  --color-blue-800: #1849a9;
  --color-blue-900: #194185;

  /* Blue Light Colors */
  --color-bluelight-25: #f5fbff;
  --color-bluelight-50: #f0f9ff;
  --color-bluelight-100: #e0f2fe;
  --color-bluelight-200: #b9e6fe;
  --color-bluelight-300: #7cd4fd;
  --color-bluelight-400: #36bffa;
  --color-bluelight-500: #0ba5ec;
  --color-bluelight-600: #0086c9;
  --color-bluelight-700: #026aa2;
  --color-bluelight-800: #065986;
  --color-bluelight-900: #0b4a6f;

  /* Green Colors */
  --color-green-25: #f6fef9;
  --color-green-50: #ecfdf3;
  --color-green-100: #d1fadf;
  --color-green-200: #a6f4c5;
  --color-green-300: #6ce9a6;
  --color-green-400: #32d583;
  --color-green-500: #12b76a;
  --color-green-600: #039855;
  --color-green-700: #027a48;
  --color-green-800: #05603a;
  --color-green-900: #054f31;

  /* Yellow Colors */
  --color-yellow-25: #fffcf5;
  --color-yellow-50: #fffaeb;
  --color-yellow-100: #fef0c7;
  --color-yellow-200: #fedf89;
  --color-yellow-300: #fec84b;
  --color-yellow-400: #fdb022;
  --color-yellow-500: #f79009;
  --color-yellow-600: #dc6803;
  --color-yellow-700: #b54708;
  --color-yellow-800: #93370d;
  --color-yellow-900: #7a2e0e;

  /* Red Colors */
  --color-red-25: #fffbfa;
  --color-red-50: #fef3f2;
  --color-red-100: #fee4e2;
  --color-red-200: #fecdca;
  --color-red-300: #fda29b;
  --color-red-400: #f97066;
  --color-red-500: #f04438;
  --color-red-600: #d92d20;
  --color-red-700: #b42318;
  --color-red-800: #912018;
  --color-red-900: #7a271a;

  /* Pink Colors */
  --color-pink-25: #fef6fb;
  --color-pink-50: #fdf2fa;
  --color-pink-100: #fce7f6;
  --color-pink-200: #fcceee;
  --color-pink-300: #faa7e0;
  --color-pink-400: #f670c7;
  --color-pink-500: #ee46bc;
  --color-pink-600: #dd2590;
  --color-pink-700: #c11574;
  --color-pink-800: #9e165f;
  --color-pink-900: #851651;

  /* Rose Colors */
  --color-rose-25: #fff5f6;
  --color-rose-50: #fff1f3;
  --color-rose-100: #ffe4e8;
  --color-rose-200: #fecdd6;
  --color-rose-300: #fea3b4;
  --color-rose-400: #fd6f8e;
  --color-rose-500: #f63d68;
  --color-rose-600: #e31b54;
  --color-rose-700: #c01048;
  --color-rose-800: #a11043;
  --color-rose-900: #89123e;

  /* Orange Colors */
  --color-orange-25: #fffaf5;
  --color-orange-50: #fff6ed;
  --color-orange-100: #ffead5;
  --color-orange-200: #fddcab;
  --color-orange-300: #feb273;
  --color-orange-400: #fd853a;
  --color-orange-500: #fb6514;
  --color-orange-600: #ec4a0a;
  --color-orange-700: #c4320a;
  --color-orange-800: #9c2a10;
  --color-orange-900: #7e2410;

  /* shadows */
  --shadow-xs: 0px 0px 0px rgba(0, 0, 0, 0);
  --shadow-sm: 0px 4px 8px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 8px 16px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0px 16px 32px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0px 24px 48px rgba(0, 0, 0, 0.1);

  /* Focus Rings */
  --focus-rings-primary: 0px 0px 0px 4px rgba(217, 214, 254, 0.5);
  --focus-rings-neutral: 0px 0px 0px 4px rgba(0, 0, 0, 0.08);

  /* Shadows  */
  --drop-shadow-xs: 0px 1px 1px rgba(0, 0, 0, 0.05),
    0px 3px 3px rgba(0, 0, 0, 0.04), 0px 6px 4px rgba(0, 0, 0, 0.03),
    0px 11px 4px rgba(0, 0, 0, 0.01), 0px 17px 5px rgba(0, 0, 0, 0);

  --drop-shadow-sm: 0px 1px 3px rgba(0, 0, 0, 0.05),
    0px 6px 6px rgba(0, 0, 0, 0.04), 0px 13px 8px rgba(0, 0, 0, 0.03),
    0px 23px 9px rgba(0, 0, 0, 0.01), 0px 35px 10px rgba(0, 0, 0, 0);

  --drop-shadow-md: 0px 3px 6px rgba(0, 0, 0, 0.05),
    0px 11px 11px rgba(0, 0, 0, 0.04), 0px 24px 14px rgba(0, 0, 0, 0.03),
    0px 42px 17px rgba(0, 0, 0, 0.01), 0px 66px 19px rgba(0, 0, 0, 0);

  --drop-shadow-lg: 0px 5px 12px rgba(0, 0, 0, 0.05),
    0px 22px 22px rgba(0, 0, 0, 0.04), 0px 48px 29px rgba(0, 0, 0, 0.03),
    0px 86px 34px rgba(0, 0, 0, 0.01), 0px 135px 38px rgba(0, 0, 0, 0);

  --drop-shadow-xl: 0px 7px 15px rgba(0, 0, 0, 0.05),
    0px 28px 28px rgba(0, 0, 0, 0.04), 0px 62px 37px rgba(0, 0, 0, 0.03),
    0px 110px 44px rgba(0, 0, 0, 0.01), 0px 173px 48px rgba(0, 0, 0, 0);

  --brand-gradient: linear-gradient(
    89.44deg,
    #0489cc 3.14%,
    #c73aff 34.33%,
    #ff4340 65.51%,
    #ff9040 94.33%
  );
}
