:root {
  --chatArea-margin: 0px;
  --transition-drawer: 800ms cubic-bezier(0.21, 0.88, 0.4, 1.14);
}

.background {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: var(--surface-defaults-primary);
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    top: -50%;
    right: -40%;
    width: 673px;
    height: 673px;
    transform: rotate(68.742deg);
    filter: blur(150px);
    background-color: var(--color-gradPurple);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -80%;
    left: 0;
    width: 841px;
    height: 841px;
    transform: rotate(68.742deg);
    filter: blur(150px);
    background-color: var(--color-gradPink);
  }
}

.light {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}

.drawer {
  transition:
    width var(--transition-drawer),
    opacity 500ms ease-out,
    margin 500ms ease-out;
  &.open {
    opacity: 1;
    width: 245px;
  }
}

main {
  &:has(.drawer:not(.open)) {
    --chatArea-margin: -94px;
  }
}

.chatArea {
  transition: margin var(--transition-drawer);
  margin-left: var(--chatArea-margin);
}

.logo {
  position: relative;
  clip-path: url(#clipPath);
  display: flex;
  aspect-ratio: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--brand-gradient);
    background-size: 100%;
    transform: scale(0);
    border-radius: 50%;
    filter: blur(200px);
    transition:
      filter 2.5s ease-out,
      transform 1s ease-out;
  }

  &.intro::before {
    transform: scale(1.05);
    filter: blur(0px);
  }
}

@property --gradTrans {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

.historyItem {
  --button-width: 0px;
  transition: 200ms;
  grid-template-columns: calc(100% - var(--button-width)) auto;

  &:hover {
    --button-width: 36px;
    background-color: var(--surface-defaults-tertiary);

    & p {
      &::before {
        --gradTrans: var(--surface-defaults-tertiary);
      }
    }

    & .historyItem__menuBtn {
      background-color: var(--surface-defaults-tertiary);
    }
  }

  &:has(.historyItem__menuBtn:hover) {
    background-color: var(--surface-defaults-secondary);
    & p::before {
      --gradTrans: var(--surface-defaults-secondary);
    }
  }

  & p {
    transition: transform 0.2s ease;
    &::before {
      --gradTrans: var(--surface-defaults-secondary);
      transition: --gradTrans 0.2s ease;
      background-image: linear-gradient(
        to right,
        transparent,
        var(--gradTrans)
      );
    }
  }
}
