.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  transition: all 0.2s ease;
  cursor: pointer;

  &.primary {
    background-color: var(--color-gradPurple);
    color: white;

    & path {
      stroke: white;
    }
  }

  &.circular {
    border-radius: 50%;
  }

  &.rounded {
    border-radius: var(--size-px-xs);
  }

  &.size-xs {
    padding: 6px;
    &.rounded {
      border-radius: var(--size-px-xxxs);
    }
    & > svg {
      height: var(--size-px-sm);
      width: var(--size-px-sm);
    }
  }

  &.size-sm {
    gap: 6px;
    padding: var(--size-px-xs);
    & > svg {
      height: var(--size-px-md);
      width: var(--size-px-md);
    }
  }

  &.size-md {
    padding: 10px;
    & > svg {
      height: 20px;
      width: 20px;
    }
  }

  &.size-lg {
    padding: var(--size-px-sm);
    & > svg {
      height: var(--size-px-lg);
      width: var(--size-px-lg);
    }
  }
}
